@using ArtCircler.Models.Extensions
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <li class="notifications">
                <a href="#">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <span class="badge js-notifications-count hide"></span>
                </a>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Hola @User.Identity.GetUserFirstName() !<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("MyUp", "Events")">My Upcoming Events</a></li>
                    <li><a href="@Url.Action("Attending", "Events")">Events In my Calendar</a></li>
                    <li><a href="@Url.Action("Index", "Followees")">Favourites Artist</a></li>

                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
