@model ArtCircler.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}
<h1>Upcoming Events </h1>
@using (Html.BeginForm("Search", "Events"))
{
    <div class="form-group">
        <div id="searchEvent" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "eg Artist or Venue" })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>

            </span>
        </div>
    </div>
    

}
<ul class="eventos">
    @foreach (var evento in Model.UpcomingEvents)
    {
        <li>
            <div class="date">
                <div class="month">
                    @evento.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @evento.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    <p>
                        Event Name: <a href="@Url.Action("Details", "Events", new {id = evento.Id})">
                            @evento.EventName
                        </a>
                    </p>
                    <span>

                        @if (Model.ShowActions && !evento.IsCanceled)
                        {
                            <button 
                                    data-evento-id="@evento.Id"
                                     class="btn
                                    @(Model.Attendances.Contains(evento.Id) ? "btn-info" : "btn-default") 
                                    btn-sm pull-right js-toggle-attendance">
                                    Going?
                            </button>
                        }
                    </span>

                </span>
                <span class="Profile">
                    <p>
                        Artist Name: <a href="@Url.Action("ArtistProfile", "Events", new {id = evento.Id})">
                                         
                            @evento.Artist.Name
                                       
                        </a>
                    </p>

                    <span>
                        @if (Model.ShowActions)
                        {
                            <button class="btn btn-link btn-sm js-toggle-follow" data-user-id="@evento.ArtistId">Follow</button>
                        }
                    </span>

                </span>
                <span class="genre">
                    <p> Type Of Event: 
                        @evento.Genre.Name

                    </p>
                </span>

            </div>
        </li>
    }

</ul>

@section scripts
{
    <script>
        $(document)
            .ready(function() {

                $(".js-toggle-attendance")
                    .click(function(e) {
                        var button = $(e.target);
                        if (button.hasClass("btn-default")) {
                            $.post("/api/attendance", { eventoId: button.attr("data-evento-id") })
                                .done(function () {
                                    button
                                        .removeClass("btn-default")
                                        .addClass("btn-info")
                                        .text("Going");

                                })
                                .fail(function () {
                                    alert("TRY AGAIN, somenthing did not work");

                                });
                        } else {
                            $.ajax({
                                    url: "/api/attendance/" + button.attr("data-evento-id"),
                                    method: "DELETE"
                                })
                                .done(function () {
                                    button
                                        .removeClass("btn-info")
                                        .addClass("btn-default")
                                        .text("Going?");
                                })
                                .fail(function () {
                                    alert("Something happens");
                                });
                        }
                    });

                $(".js-toggle-follow")
                    .click(function(e) {
                        var button = $(e.target);
                        $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                            .done(function() {
                                button.text("Following");
                            })
                            .fail(function() {
                                alert("TRY AGAIN, somenthing when wrong");

                            });
                    });
            });

    </script>

}