@using System.Diagnostics.Eventing.Reader
@using ArtCircler.Models
@using Microsoft.AspNet.Identity
@model ArtCircler.ViewModels.ArtistViewModel

@{
    ViewBag.Title = "Artist Profile";

}

<h2>
    @Model.Evento.Artist.Name
    @Model.Evento.Artist.Bio
    @Model.Evento.Artist.ProfilePicture

    <img src="@Url.Action("ArtistProfile", "Events", new { id = @Model.Evento.Artist.ProfilePicture })" />


</h2>
