@model ArtCircler.ViewModels.EventDetailsViewModel

@{
    ViewBag.Title = "Details";
    
}

<h2>
    @Model.Evento.EventName

    @if (User.Identity.IsAuthenticated)
    {
        if (Model.IsAttending)
        {
            <button class="btn btn-info">Going</button>
        }
        else
        {
            <button class="btn btn-default"> Going?</button>
        }
    }

</h2>
<p>
    Artist Name @Model.Evento.Artist.Name Performing at @Model.Evento.Venue on @Model.Evento.DateTime.ToString("d MMM") at @Model.Evento.DateTime.ToString("HH: mm")
</p>

@if (User.Identity.IsAuthenticated && Model.IsAttending)
{
    <p>You are going to this event</p>
}