@model IEnumerable<ArtCircler.Models.Event>

@{
    ViewBag.Title = "MyUp";
}

<h2>MyUp</h2>
<ul class="eventos">
    @foreach (var evento in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @evento.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @evento.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @evento.Venue
                </span>
                <span class="genre">
                    @evento.Genre.Name
                </span>
                <div class="action">
                    <a href="@Url.Action("Edit", "Events", new { id = evento.Id })">Edit</a>
                </div>
            </div>
        </li>
    }

</ul>
